# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
*.key
*.pem
*.crt

# Logs
*.log
logs/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/
.tox/